@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --ring: oklch(0.708 0 0);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .outline-ring {
    outline-color: var(--ring);
    outline-width: 1px;
    outline-style: solid;
    outline-offset: 2px;
    opacity: 0.5;
  }

  .ring-custom {
    --tw-ring-color: var(--ring);
  }
}
